/* Stylesheet for style_guide.md */

span.non-ess {
  color:#b78727;
  font-weight:bold;
}

span.python {
  color:#0043c5;
  font-weight:bold;
}

.style-bad {
  background-color: #EEB4B4;
  color: #000;
}

