body {
    margin:35px;
    font-size:105%;
    font-family:sans-serif;
    letter-spacing:.1em;
}

/* HEADERS */

#logo h1 {
    font-size:3em;
    color:#0099cc;
}

h2 {
    font-size:2em;
    color:#0077cc;
}

b {
    color:#0077cc;
}

/* HYPERLINKS */

li, li a{
    padding:5px;
}

a {
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
}

a:hover {
    background-color:#add8e6;
    color:#222;
}

/* TABLES */

th {
    background-color:#74bbfb;
    color:#000022;
    padding:10px;
}

td {
    padding:10px 20px;
    text-align:center;
}

tr {
    background-color:#c6e2ff;
}

table br {
    line-height:2em;
}

/* CODE */

pre.codeblock {
    margin:0;
    padding:20px 20px 0;
    background-color:#eeeeee;
    line-height:1.5em;
    font-family:courier, monotype;
}

tt {
    font-family:courier, monotype;
}
