body {
    margin:35px;
    color:#000033;
    font-size:100%;
    font-family:sans-serif;
    letter-spacing:.1em;
}

/* HEADERS */

h1, h2, h3 {
    font-variant:small-caps;
    color:#0099CC;
}

#logo h1 {
    font-size:3.5em;
}

h2 {
    font-size:2.2em;
}



div#reference {
    font-style:italic;
}


div#contents a {
    font-weight:bold;
    line-height:1.7em;
    padding:5px;
}

/* HYPERLINKS */

li, li a{
    padding:5px;
}

a:hover {
    background-color:#0099CC;
    color:#eeeeee;
}

a:active {
    color:#000000;
}

/* TABLES */

th {
    background-color:#0099CC;
    color:#000022;
    padding:10px;
}

td {
    padding:10px 20px;
    text-align:center;
}

tr {
    background-color:#8ee5ee;
}

table br {
    line-height:2em;
}

table.highlight tr:hover, table.highlight tr:hover a {
    background-color:#00b2ee;
    background-color:#019ee1;
    color:#eeeeee;
}

table.highlight tr:hover a:active {
    background-color:#00b2ee;
    color:#222222;
}


/* CODE */

pre.codeblock {
    margin:0;
    padding:20px 20px 0;
    background-color:#eeeeee;
    line-height:1.5em;
    font-family:courier, monotype;
}

tt {
    font-family:courier, monotype;
}
