body {
  margin:0;
  font-family:'Oxygen', sans-serif;
  height:100%;
}

#container {
  margin:35px;
}

*:focus {
  outline: none;
}

/* HEADERS */

h2 {
  font-size:2em;
  margin-bottom:10px;
}

h1, h2, a {
  color:#0072c1;
}

.anchor:before {
  content: " ";
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

#logo h1 {
  font-size:2em;
}

#logo {
  background:#fff;
  height:70px;
  position:fixed;
  top:0;
  width:100%;
  z-index:9001;
  border-bottom-style:solid;
  border-bottom-width:2px;
  color:#0072c1;
}


/* nav-bar */
#nav-bar-toggle {
  position:fixed;
  height:100%;
  top:0px;
  width:25px;
  transition: background-color .2s linear;
  -webkit-transition: background-color .2s linear;
  display:table;
  color:#0072c1;
  background-color:#ebebeb;
}

#nav-bar-toggle:hover {
  background-color:#bfefee;
  cursor:pointer;
}

#nav-bar-toggle-icon {
  text-align:center;
  font-weight:bold;
  display:table-cell;
  vertical-align:middle;
}

#nav-bar {
  background-color:#fff;
  float: left;
  overflow:auto;
  position:fixed;
  top:80px;
  width:250px;
}

#nav-bar h3 {
  font-size:1.1em;
  color:#000;
}

#nav-bar ul {
  margin:0;
}

#nav-bar-headers {
  text-align:center;
  padding:3px 0;
  border-bottom-style:solid;
  border-bottom-width:2px;
  color:#0072c1;
}

#nav-bar-headers ul {
  list-style-type:none;
  padding:0;
}

#nav-bar-headers li {
  display:inline;
  padding:0;
}

#nav-bar-headers a {
  padding:5px 15px;
  text-decoration:none;
}

#accordion {
  padding:10px 0;
  padding-top:0;
}

.ui-accordion-header {
  margin:2px;
  padding:5px;
  transition: background-color .2s linear;
  -webkit-transition: background-color .2s linear;
}

:not(.ui-accordion-header-active).ui-accordion-header:hover {
  background:#bfefee;
}

.ui-accordion-header-active  {
  background-color:#9bc4e2;
}


#nav-bar-fixed {
  padding:10px 0;
}

#content {
  margin-top:80px;
  margin-left:270px;
  z-index:10;
  position:relative;
  background-color:#fff;
}

/* HYPERLINKS */

li, li a{
  padding:5px;
}

li a {
  line-height:1.5em;
}

a {
  transition: background-color .2s linear;
  -webkit-transition: background-color .2s linear;
}

a:hover {
  background-color:#bfefee;
}

/* TABLES */

th {
  background-color:#74bbfb;
  padding:10px;
}

td {
  padding:10px 20px;
  text-align:center;
}

tr {
  background-color:#c6e2ff;
  transition: background-color .2s linear;
  -webkit-transition: background-color .2s linear;
}

table br {
  line-height:2em;
}

table.highlight tr:hover {
  background-color:#8fefee;
}

table.highlight td a:hover {
  background-color:inherit;
}

/* CODE */

pre {
  overflow:auto;
}

tt, :not(pre)>code {
  font-family:'Ubuntu Mono', courier, monotype;
  background-color:#eee;
}

a tt, a code {
  background:none;
}

/* print media */
@media print, (max-device-width: 480px) {
  #logo {
    position:static;
    height:inherit;
  }

  #nav-bar, #nav-bar-toggle {
    display:none;
  }

  #content {
    margin-left:0;
    margin-top:0px;
  }

  .anchor:before {
    height:0px;
    margin-top:0px;
  }
}
