body {
  margin:0;
  font-family:'Open Sans', sans-serif;
  font-size:16px;
  height:100%;
  padding-top:40px;
}

/* HEADERS */

.title-brand {
  color:#0072c1;
}

.header {
  background-color:#327556;
  color:#fff;
  padding:50px 0;
  margin-bottom:40px;
}

h1:before,
h2:before,
h3:before,
h4:before
{
  content: " ";
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}

blockquote {
  font-size:inherit;
  border-left:solid #327556;
  background-color:#bdfcc9;
}

pre code {
  word-wrap: normal;
  white-space: pre;
}

a {
  color:#228B22;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 80px;
  overflow-y: auto;
  height: 80%;
}

.sidebar li > a {
  padding: 1px 10px;
}

.sidebar li > a:hover {
  background-color: transparent;
}

.sidebar li.active {
  background-color: #0072c1;
}

.sidebar li.active a {
  color: #fff;
}

.sidebar > ul > ul > li > a {
  margin-left: 20px;
}

.sidebar > ul > ul > ul > li > a {
  margin-left: 40px;
}

.sidebar > ul > ul > ul > ul > li > a {
  margin-left: 60px;
}


/* Navbar theme */
.navbar-default {
  background-color: #ffffff;
  border:none;
}
.navbar-default .navbar-brand {
  color: #327556;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #327556;
}
.navbar-default .navbar-text {
  color: #327556;
}
.navbar-default .navbar-nav > li > a {
  color: #327556;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #327556;
  background-color: #f0fff0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #327556;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #327556;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #327556;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #327556;
}
.navbar-default .navbar-link {
  color: #327556;
}
.navbar-default .navbar-link:hover {
  color: #327556;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #327556;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #327556;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #327556;
    background-color: #ffffff;
  }
}
