body {
  margin:35px;
  font-family:sans-serif;
  font-size:105%;
  letter-spacing:1px;
}

/* HEADERS */

#logo h1 {
  font-size:3em;
  border-bottom-style:solid;
  border-bottom-width:2px;
  border-top-style:solid;
  border-top-width:2px;
}

h2 {
  font-size:2em;
  margin-bottom:10px;
}

h1, h2, a {
  color:#0072c1;
}


/* HYPERLINKS */

li, li a{
  padding:5px;
}

a {
  transition: background-color .2s linear;
  -webkit-transition: background-color .2s linear;
}

a:hover {
  background-color:#bfefee;
}

/* TABLES */

th {
  background-color:#74bbfb;
  padding:10px;
}

td {
  padding:10px 20px;
  text-align:center;
}

tr {
  background-color:#c6e2ff;
  transition: background-color .2s linear;
  -webkit-transition: background-color .2s linear;
}

table br {
  line-height:2em;
}

table.highlight tr:hover {
  background-color:#8fefee;
}

table.highlight td a:hover {
  background-color:inherit;
}

/* CODE */

pre {
  overflow:auto;
}

tt, code {
  font-family:courier, monotype;
  background-color:#eee;
}
