

/* Questions */
.no-center td {
  text-align:left;
}

.cross {
  text-decoration:line-through;
}

.fill {
  text-decoration:underline;
}

.solution {
  display:none;
}

.solution pre {
  margin-bottom:0;
}

span.solution {
  font-weight:bold;
}

button.toggleButton {
  background-color:#fff;
  border:none;
  color:#007291;
  padding:5px 10px;
  font-size:1.1em;
  cursor:pointer;
  transition:background-color .3s linear;
  -webkit-transition:background-color .3s linear;
}

button.toggleButton:hover {
  background-color:#bfefee;
}

.eval-print td {
  text-align:left;
}

.eval-print pre {
  background-color:inherit;
  padding:0;
  margin:0;
}
