
/* NAV BAR */

#nav-bar,
#nav-bar-right-dropdown,
#nav-bar-right-dropdown a {
  color:#ffffff;
  background-color:#0072c1;
}

#nav-bar {
  padding:0 35px;
  top:0px;
  height:30px;
}

#nav-bar-title {
  position:absolute;
  padding:0;
  margin:5px;
}

/* DROPDOWN MENU */
#nav-bar-right-dropdown {
  float:right;
  width:130px;
}

#nav-bar-right-dropdown-button {
  text-align:center;
  margin:5px;
  transition:color .2s linear;
  transition:background-color,color .3s linear;
  -webkit-transition:color .2s linear;
  -webkit-transition:background-color .3s linear;
}

#nav-bar-right-dropdown-button:hover {
  background-color:#ffffff;
  color:#0072c1;
}

#nav-bar-right-dropdown-menu {
  display:none;
  position:relative;
  padding:5px;
}

#nav-bar-right-dropdown-menu div {
  text-align:center;
  padding:5px;
}

#nav-bar-right-dropdown-menu div {
  text-align:center;
  padding:5px;
}


#nav-bar-right-dropdown-menu a {
  text-decoration:none;
  padding:5px;
  display:block;
  transition:color .2s linear;
  transition:background-color,color .3s linear;
  -webkit-transition:color .2s linear;
  -webkit-transition:background-color .3s linear;
}

#nav-bar-right-dropdown-menu a:hover{
  background-color:#ffffff;
  color:#0072c1;
}


/* Questions */
.no-center td {
  text-align:left;
}

.cross {
  text-decoration:line-through;
}

.fill {
  text-decoration:underline;
}

.solution {
  display:none;
}

.solution pre {
  margin-bottom:0;
}

span.solution {
  font-weight:bold;
}

button.toggleButton {
  background-color:#fff;
  border:none;
  color:#007291;
  padding:5px 10px;
  font-size:1.1em;
  cursor:pointer;
  transition:background-color .3s linear;
  -webkit-transition:background-color .3s linear;
}

button.toggleButton:hover {
  background-color:#bfefee;
}

.eval-print td {
  text-align:left;
}

.eval-print pre {
  background-color:inherit;
  padding:0;
  margin:0;
}
