<% extends base.html %>

<% block title %>
{{ title }}
<% block title %>

<% block content %>
<h1 class='article-title'>{{ title }}</h1>

<p>Last updated: <i>{{ datetime.now().strftime('%b %d, %Y') }}</i></p>

{{ :all }}
<% block content %>

<% block styles %>
  <link rel='stylesheet' type='text/css' href='{{ PROJECT_DIR }}/public/css/style.css'>
  {% block styles %}
<% block styles %>

<% block nav-bar %>
<h3>Contents</h3>
<div>
{{ table-of-contents }}
</div>
{% block nav-bar %}
<% block nav-bar %>


