{% extends "base.html" %}

{% block styles %}
<link rel='stylesheet' type='text/css' href='/public/css/project.css'>
{% endblock styles %}

{% block title %}
Projects
{% endblock title %}

{% block header %}
<h1>Projects</h1>

<p>Various software projects that I contribute to. My projects can be found on
<a href="https://github.com/albert12132">Github</a>.</p>
{% endblock header %}

{% block content %}
<div class='section white'>
  <div class='container'>
    <div class='row'>
      <div class='section-overview col-md-6 col-md-offset-3'>
        <h1 class='section-title'>
          Building CS 61A
        </h1>
        <p>
          My most recent work (2014-2015 school year) has been related to CS 61A
          infrastructure.
        </p>
      </div>
    </div>

    <hr/>

    {{ blocks['building-cs61a'] }}
  </div>
</div>


<div class='section light-green'>
  <div class='container'>
    <div class='row'>
      <div class='section-overview col-md-6 col-md-offset-3'>
        <h1 class='section-title'>
          Personal projects
        </h1>
        <p>
          Some side projects that I wrote for fun.
        </p>
      </div>
    </div>

    <hr/>

    {{ blocks['personal-projects'] }}

  </div>
</div>
{% endblock content %}

