<% extends project.html %>

<% block nav-bar %>
<h3>Templar</h3>
<div>
  <ul>
    <li><a href="{{ PROJECTS_DIR }}/templar">Templar</a></li>
    <li><a href="{{ PROJECTS_DIR }}/templar/getting-started">Getting Started</a></li>
    <li><a href="{{ PROJECTS_DIR }}/templar/templates">Templates</a></li>
    <li><a href="{{ PROJECTS_DIR }}/templar/markdown">Markdown</a></li>
    <li><a href="{{ PROJECTS_DIR }}/templar/substitutions">Substitutions</a></li>
    <li><a href="{{ PROJECTS_DIR }}/templar/configuration">Configuration</a></li>
    <li><a href="{{ PROJECTS_DIR }}/templar/misc">Other Features</a></li>
  </ul>
</div>
<% block nav-bar %>


