<% extends base.html %>

<% block header %>
{% block title %} | Albert Wu
<% block header %>

<% block meta %>
CS 61A TA website for Albert Wu
<% block meta %>

<% block styles %>
<link rel='stylesheet' type='text/css' href='{{ CS61A_DIR }}/public/css/style.css'>
{% block styles %}
<% block styles %>

<% block highlight-lang %>
'python', 'lisp'
<% block highlight-lang %>

<% block nav-bar-fixed %>
{% block nav-bar-fixed %}

<p><a href='http://www-inst.eecs.berkeley.edu/~cs61a/'>CS 61A
  course page</a></p>
<% block nav-bar-fixed %>
