<% extends cs61a.html %>

<% block title %>
CS 61A
<% block title %>

<% block nav-bar %>
<h3>Contents</h3>
<div>
  <ul>
    <li><a href='#info'>Contact</a></li>
    <li><a href='#practice'>Practice Problems</a></li>
    <li><a href='#notes'>Notes</a></li>
  </ul>
</div>
<% block nav-bar %>

<% nav-bar-fixed %>
<p>This is my TA page for CS 61A, an introductory Computer Science
class taught at UC Berkeley. Here, you will find review questions and
class notes.
</p>
<% block nav-bar-fixed %>

<% block content %>
  <div>
    <h2 id='info' class='anchor'>Contact</h2>
    <b>Email:</b>
    <a href='mailto:{{ email }}'>{{ email }}</a><br/>
    <b>Office Hours:</b> {{ office hours }}
    <p>If you can't make my office hours, feel free to email me to
    schedule an appointment!</p>
  </div>
  <div>
    <h2 id='sections' class='anchor'>Sections</h2>
    {{ :sections }}
  </div>
  <div>
    <h2 id='practice' class='anchor'>Practice Problems</h2>
    {{ :practice }}
  </div>
  <div>
    <h2 id='notes' class='anchor'>Notes</h2>
    {{ :notes }}
  </div>
<% block content %>
