body {
    margin:35px;
    color:#000033;
    font-size:100%;
    font-family:sans-serif;
    letter-spacing:.1em;
}

#title {
    font-size:4em;
    font-variant:small-caps;
    color:#003f87;
}

b {
    font-size:1.2em;
    color:#003f87;
}

br {
    font-size:1.5em;
}

table {
    text-align:center;
    font-weight:bold;
}

tr {
    background-color:#c6e2ff;
}


tr :first-child {
    padding-right:10px;
    padding-left:10px;
    text-align:right;
}

tr:hover, tr:hover a {
    background-color:#1874cd;
    color:#eeeeee;
}

tr:hover a:active {
    color:#000000;
}


td, th {
    min-width:150px;
    padding:7px;
}

th {
    background-color:#003f87;
    color:#eeeeee;
    font-size:1.5em;
    font-variant:small-caps;
}

