<% extends review.html %>

<% title %>
{{ exam }} Review
<%/ title %>

<% content %>
  <p>Here, you will find practice problems related to
  {{ exam }}. The following practice problems
  are arranged into two categories:</p>

  <ul>
    <li><b>Basic</b>: test fundamental understanding of topic</li>
    <li><b>Exam</b>: level of difficulty comparable to an exam
  </ul>

  <p>{{ :notes }}</p>

  <table id="topics" class="highlight">
    <tr>
      <th>Topic</th>
      <th>Basic</th>
      <th>Exam</th>
    </tr>
    {{ :all }}
  </table>
<%/ content %>

