<% extends cs61a.html %>

<% block styles %>
  <link rel='stylesheet' type='text/css' href='{{ REVIEW_DIR }}/public/css/style.css'>
<% block styles %>

<% block scripts %>
  <script src='{{ REVIEW_DIR }}/public/js/toggle.js'></script>
  {% block scripts %}
<% block scripts %>

<% block nav-bar %>
<h3>Navigation</h3>
<div>
  <ul>
    <li><a href='{{ REVIEW_DIR }}'>All Topics</a></li>
    <li><a href='{{ REVIEW_DIR }}/mt1'>Midterm
      1</a></li>
    <li><a href='{{ REVIEW_DIR }}/mt2'>Midterm
      2</a></li>
    <li><a href='{{ REVIEW_DIR }}/final'>Final</a></li>
  </ul>
</div>
{% block nav-bar %}
<% block nav-bar %>


