<html>
  <head>
    <title>Topic: basic</title>
    <link rel="stylesheet" type="text/css" href="../../template/style.css">
  </head>
  <body>
    <h1 id="title">Topic: Basic</h1>

    <div id='reference'>
      <p>You can review -Topic- in the following places</p>
      <ul>
        <li>Reference 1</li>
        <li>Reference 2</li>
      </ul>
    </div>

    <div id='contents'>
      <h2>Contents</h2>
      <ol>
        <li><a href="#conceptual">Conceptual</a></li>
        <li><a href="#env">Environment Diagrams</a></li>
        <li><a href="#code">Code-writing</a></li>
        <li><a href="#fill">Fill in the blank</a></li>
        <li><a href="#cross">Cross out the errors</a></li>
        <li><a href="#print">What would Python print?</a></li>
      </ol>
    </div>

    <h2 class="subtopic" id="starter">Starter Code</h2>
    <p>Starter code can be found <a href="starter.py">here</a>.</p>
    <p>Description</p>

    <h2 class="subtopic" id="conceptual">Conceptual</h2>

    <h3 class="question">Q1</h3>
    <p>Question description</p>
    <pre class="codeblock">
    def inspect(code):
        """Doctest

        &gt;&gt;&gt; doctest
        result
        """
        line
        line
    </pre>
    <p class="hint"><b>Hint</b>: this is a hint</p>


    <h2 class="subtopic" id="env">Environment Diagrams</h2>
    <p>Draw environment diagrams for the following programs.</p>

    <h3 class="question">Q1</h3>
    <pre class="codeblock">
    def program(code):
        pass
    calls
    </pre>
    <p class="hint"><b>Hint</b>: this is a hint</p>


    <h2 class="subtopic" id="code">Code-writing</h2> 

    <h3 class="question">Q1</h3>
    <p>Question description</p>
    <pre class="codeblock">
    def starter(code):
        """Doctest

        &gt;&gt;&gt; doctest
        result
        """
        "*** YOUR CODE HERE ***"
    </pre>
    <p class="hint"><b>Hint</b>: this is a hint</p>


    <h2 class="subtopic" id="fill">Fill in the blank</h2> 

    <h3 class="question">Q1</h3>
    <p>Question description</p>
    <pre class="codeblock">
    def fill(code):
        """Doctest

        &gt;&gt;&gt; doctest
        result
        """
        blanks
    </pre>
    <p class="hint"><b>Hint</b>: this is a hint</p>


    <h2 class="subtopic" id="cross">Cross out the errors</h2> 

    <h3 class="question">Q1</h3>
    <p>Question description</p>
    <pre class="codeblock">
    def incorrect(code):
        """Doctest

        &gt;&gt;&gt; doctest
        result
        """
        multiple
        lines
        to cross
    </pre>
    <p class="hint"><b>Hint</b>: this is a hint</p>


    <h2 class="subtopic" id="print">What would Python print?</h2> 

    <h3 class="question">Q1</h3>
    <pre class="codeblock">
    <b class="prompt">&gt;&gt;&gt;</b> 
    </pre>
    <p class="hint"><b>Hint</b>: this is a hint</p>

  </body>
</html>
