<% extends base.html %>

<% title %>
{{ title }}
<%/ title %>


<% content %>
{{ html }}
<%/ content %>

<% styles %>
<link href='{{ NOTES_DIR }}/public/{{ style }}' rel='stylesheet' type='text/css'>
{% styles %}
<%/ styles %>

<% nav-bar %>
<h3>Navigation</h3>
<div>
  <ul>
    <li><a href='{{ CS61A_DIR }}'>Home</a></li>
    <li><a href='{{ REVIEW_DIR }}'>All Topics</a></li>
    <li><a href='{{ REVIEW_DIR }}/mt1'>Midterm
      1</a></li>
    <li><a href='{{ REVIEW_DIR }}/mt2'>Midterm
      2</a></li>
    <li><a href='{{ REVIEW_DIR }}/final'>Final</a></li>
  </ul>
</div>
{{ table }}
<%/ nav-bar %>
