<% extends base.html %>

<% header %>
Page not found
<%/ header %>

<% title %>
Page not found!
<%/ title %>

<% nav-bar %>
<h3>CS 61A</h3>
<div>
  <ul>
    <li><a href='{{ CS61A_DIR }}'>Home</a></li>
    <li><a href='{{ REVIEW_DIR }}/mt1'>Midterm 1 Review</a></li>
    <li><a href='{{ REVIEW_DIR }}/mt2'>Midterm 2 Review</a></li>
    <li><a href='{{ REVIEW_DIR }}/final'>Final Review</a></li>
  </ul>
</div>

<h3>Blog</h3>
<div>
  Coming soon!
</div>
<%/ nav-bar %>

<% content %>
<div id='about'>
  Oh no! The page you're looking for doesn't exist.
</div>
<%/ content %>
