<% extends base.html %>

<% header %>
Albert Wu
<%/ header %>

<% title %>
{{ name }}
<%/ title %>

<% styles %>
<link rel='stylesheet' type='text/css' href='{{ MASTER_DIR }}/public/about.css'>
<%/ styles %>

<% nav-bar %>
<h3>CS 61A</h3>
<div>
  <ul>
    <li><a href='{{ CS61A_DIR }}'>Home</a></li>
    <li><a href='{{ REVIEW_DIR }}/mt1'>Midterm 1 Review</a></li>
    <li><a href='{{ REVIEW_DIR }}/mt2'>Midterm 2 Review</a></li>
    <li><a href='{{ REVIEW_DIR }}/final'>Final Review</a></li>
  </ul>
</div>

<h3>Blog</h3>
<div>
  Coming soon!
</div>
<%/ nav-bar %>

<% content %>
  <div id='about'>
    <p>Stuff here.</p>
  </div>

  <div id='acknowledgements'>
    <h2>Website</h2>
    <p>You can find the code used to generate this website on
    <a href='https://github.com/albert12132/albertwu.org'>Github</a>.</p>

    <p>Acknowledgements go to</p>
    <ul>
      <li><a href='http://jquery.com/'>jQuery</a></li>
      <li><a href='http://jqueryui.com/'>jQuery UI</a></li>
      <li><a
        href='https://code.google.com/p/python-markdown2/'>Markdown2</a></li>
      <li><a href='http://www.pythontutor.com/'>Online Python
        Tutor</a></li>
      <li><a
        href='https://code.google.com/p/google-code-prettify/'>Prettify</a></li>
    </ul>
  </div>
<%/ content %>
