<% extends review.html %>

<% title %>
{{ exam }} Review
<%/ title %>

<% nav-bar %>
{{ exam }}
<%/ nav-bar %>

<% contents %>
      <div id='header'>
        <div id='logo'>
          <h1>{{ exam }} Practice Problems</h1>
        </div>
      </div>

      <p>Here, you will find practice problems related to topics that we
      covered <i>up to</i> {{ exam }}. The following practice problems
      are arranged into two categories:</p>

      <ul>
        <li><b>Basic</b>: test fundamental understanding of topic</li>
        <li><b>Exam</b>: level of difficulty comparable to an exam
      </ul>

      <p>{{ notes }}</p>

      <p><b>NOTE</b>: please take the time to fill out a <a
        href='https://docs.google.com/forms/d/184kmcWamhIlkc5znsoWImG5fM1fmsNuq5Yo431rulkg/viewform'>survey</a>
      about Midterm 1 and my practice problems!</p>

      {{ contents }}
<%/ contents %>

