<% extends review.html %>

<% title %>
{{ title }}: {{ level }}
<%/ title %>

<% nav-bar %>
{{ title }}: {{ level }}
<%/ nav-bar %>

<% contents %>
      <div id='header'>
        <div id='logo'>
          <h1>{{ title }}: {{ level }}</h1>
        </div>
      </div>

      <div id='reference'>
        <p>You can review {{ title.lower() }} in the following places</p>
        {{ utils.ul(contents=references) }}
      </div>

      {{ notes }}

      <div id='contents'>
        <h2>Contents</h2>
        {{ utils.ol(contents=map(contents_li, contents)) }}
      </div>

      <p>Solutions can be found <a href='solution.html'>here</a>.</p>

      {{ questions }}
<%/ contents %>
