<% extends review.html %>

<% title %>
{{ title }}: {{ level }}
<%/ title %>

<% nav-bar %>
{{ '\\n'.join(map(make_section_dropdown, contents)) }}
<%/ nav-bar %>

<% content %>
  <div id='reference'>
    <h2>References</h2>

    <p>You can review {{ title }} in the following places</p>
    {{ :references }}
  </div>

  {{ :notes }}

  <p>Each question has a "Toggle Solution" button -- click it to
  reveal that question's solution.</p>

  <noscript>You need to <b>enable JavaScript</b> to view the
    solutions.</noscript>

  {{ :contents }}
  </div>
<%/ content %>
