<% extends base.html %>

<% styles %>
  <link rel='stylesheet' type='text/css' href='{{ REVIEW_DIR }}/public/style.css'>
<%/ styles %>

<% scripts %>
  <script src='{{ MASTER_DIR }}/public/jquery-1.10.1.min.js'></script>
  <script src='{{ REVIEW_DIR }}/public/nav-bar.js'></script>
  <script src='{{ REVIEW_DIR }}/public/toggle.js'></script>
  <script src="{{ REVIEW_DIR }}/public/jquery-scrolltofixed-min.js"></script>
  <script>
    $(document).ready(function() {
      $('#nav-bar').scrollToFixed();
    });
  </script>
  {% scripts %}
<%/ scripts %>

<% body %>
    <div id='container'>
      {% contents %}
    </div>
<%/ body %>

