<% extends review.html %>

<% title %>
{{ title }}: {{ level }} solutions
<%/ title %>

<% nav-bar %>
{{ title }}: {{ level }} solutions
<%/ nav-bar %>

<% contents %>
      <div id='header'>
        <div id='logo'>
          <h1>{{ title }}: {{ level }} solutions</h1>
        </div>
      </div>

      <div id='contents'>
        <h2>Contents</h2>
        {{ utils.ol(contents=map(contents_li, contents)) }}
      </div>

      <p>Questions can be found <a href='question.html'>here</a>.</p>

      {{ solutions }}
<%/ contents %>
