<% extends base.html %>

<% block title %>
Albert Wu
<% block title %>

<% block styles %>
<link rel='stylesheet' type='text/css' href='{{ MASTER_DIR }}/public/css/about.css'>
<% block styles %>

<% block header %>
<h1>Albert Wu</h1>

<p>Hello! I'm Albert, a recent UC Berkeley grad and software engineer at
Google.</p>
<% block header %>

<% block content %>
<div class='row'>
  <div class='col-md-6'>
    <div class='main-featured-item'>
      <a href='/cs61a/'>
        <span class='main-featured-item-link'></span>
      </a>

      <div class='main-featured-item-title'>
        CS 61A
      </div>
      <div class='main-featured-item-description'>
        Practice problems and notes for UC Berkeley's introductory computer
        science course
      </div>
    </div>
  </div>

  <div class='col-md-6'>
    <div class='main-featured-item'>
      <a href='/cs61a/'>
        <span class='main-featured-item-link'></span>
      </a>

      <div class='main-featured-item-title'>
        Projects
      </div>
      <div class='main-featured-item-description'>
        Various programming projects that I've contributed to.
      </div>
    </div>
  </div>
</div>

<% block content %>
