<% extends base.html %>

<% block header %>
Albert Wu
<% block header %>

<% block title %>
Albert Wu
<% block title %>

<% block styles %>
<link rel='stylesheet' type='text/css' href='{{ MASTER_DIR }}/public/css/about.css'>
<% block styles %>

<% block content %>
  <div id='acknowledgements'>
    <h2>Recently...</h2>

    <p><i>7/13/2014</i>: See the documentation for
    <a href="{{ PROJECTS_DIR }}/templar">Templar</a>,
    a static templating engine written for Python programmers.</p>

    <h2>Website</h2>
    <p>You can find the code used to generate this website on
    <a href='https://github.com/albert12132/albertwu.org'>Github</a>.</p>

    <p>Acknowledgements go to</p>
    <ul>
      <li><a href='http://jquery.com/'>jQuery</a></li>
      <li><a href='http://jqueryui.com/'>jQuery UI</a></li>
      <li><a
        href='https://code.google.com/p/python-markdown2/'>Markdown2</a></li>
      <li><a href='http://www.pythontutor.com/'>Online Python
        Tutor</a></li>
      <li><a
        href='https://code.google.com/p/google-code-prettify/'>Prettify</a></li>
    </ul>
  </div>
<% block content %>
