<% extends base.html %>

<% block title %>
Albert Wu
<% block title %>

<% block styles %>
<link rel='stylesheet' type='text/css' href='{{ MASTER_DIR }}/public/css/about.css'>
<% block styles %>

<% block header %>
<h1>Albert Wu</h1>

<p>Hello! I'm a recent UC Berkeley grad and software engineer at
Google.</p>
<% block header %>

<% block content %>
<div class='row'>
  <div class='col-md-4 col-md-offset-2'>
    <div class='main-featured-item'>
      <h1><a href='/cs61a/'>CS 61A</a></h1>

      <p>Practice problems and notes for UC Berkeley's introductory computer
      science course
      </p>
    </div>
  </div>

  <div class='col-md-4'>
    <div class='main-featured-item'>
      <h1><a href='/projects/'>Projects</a></h1>

      <p>Various programming projects that I've contributed to
      </p>
    </div>
  </div>
</div>

<% block content %>
