<% extends base.html %>

<% header %>
CS 61A: {% title %}
<%/ header %>

<% meta %>
CS 61A TA website for Albert Wu
<%/ meta %>

<% styles %>
<link rel='stylesheet' type='text/css' href='{{ CS61A_DIR }}/public/style.css'>
{% styles %}
<%/ styles %>

<% nav-bar %>
<h3>Contents</h3>
<div>
  <ul>
    <li><a href='#info'>Contact</a></li>
    <li><a href='#practice'>Practice Problems</a></li>
    <li><a href='#notes'>Notes</a></li>
  </ul>
</div>
<%/ nav-bar %>

<% nav-bar-fixed %>
<p>This is my TA page for CS 61A, an introductory Computer Science
class taught at UC Berkeley. Here, you will find review questions and
class notes.
</p>
<p><a href='http://www-inst.eecs.berkeley.edu/~cs61a/'>CS 61A
  course page</a></p>

{% nav-bar-fixed %}
<%/ nav-bar-fixed %>
