<% extends base.html %>

<% block title %>
{{ exam }} Review
<% block title %>

<% block header %>
<h1>{{ exam }} Review</h1>
<% block header %>

<% block content %>
<div class='container'>
  <p>Here, you will find practice problems related to
  {{ exam }}. The following practice problems
  are arranged into two categories:</p>

  <ul>
    <li><b>Basic</b>: test fundamental understanding of topic</li>
    <li><b>Exam</b>: level of difficulty comparable to an exam
  </ul>

  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Topic</th>
          <th>Basic</th>
          <th>Exam</th>
        </tr>
      </thead>
      </tbody>
        {{ :all }}
      </tbody>
    </table>
  </div>
</div>
<% block content %>

