{% extends "base.html" %}

{% block title %}
{{ exam }} Review
{% endblock title %}

{% block header %}
<h1>{{ exam }} Review</h1>
{% endblock header %}

{% block content %}
<div class='container'>
  <blockquote>
  <p>
    These practice problems are written and organized to reflect the topics from
    <a href="http://su15.cs61a.org">Summer 2015</a>, the last semester that I was involved
    with 61A.  Most of the content is the same, but there may be a few differences
    between Summer 2015 and the current semester.
  </p>
  </blockquote>

  <p>Here, you will find practice problems related to
  {{ exam }}. The following practice problems
  are arranged into two categories:</p>

  <ul>
    <li><b>Basic</b>: test fundamental understanding of topic</li>
    <li><b>Exam</b>: level of difficulty comparable to an exam
  </ul>

  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Topic</th>
          <th>Basic</th>
          <th>Exam</th>
        </tr>
      </thead>
      </tbody>
        {{ blocks.all }}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

