{% extends "sidebar-base.html" %}

{% block styles %}
{{ super() }}
<link rel='stylesheet' type='text/css' href='{{ MASTER_DIR }}/public/css/review.css'>
{% endblock styles %}

{% block scripts %}
{{ super() }}
<script src='{{ MASTER_DIR }}/public/js/toggle.js'></script>
{% endblock scripts %}

{% block title %}
{{ title }}: {{ level }}
{% endblock title %}

{% block header %}
<h1>{{ title }}: {{ level }}-level questions</h1>
{% endblock header %}


{% block sidebar %}
{{ title }}: {{ level }}
<hr/>
{% endblock sidebar %}

{% block main_content %}
  <blockquote>
    <p>If you need help reviewing {{ title }}, take a look at these
    resources:</p>

    {{ blocks.references }}
  </blockquote>

  {{ blocks.notes }}

  <p>Each question has a "Toggle Solution" button -- click it to
  reveal that question's solution.</p>

  <noscript>You need to <b>enable JavaScript</b> to view the
    solutions.</noscript>

  {{ blocks.contents }}
{% endblock main_content %}

